[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
typer = "*"
uvicorn = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
black = "*"
pdbpp = "*"
factory-boy = "*"
faker-enum = "*"
requests = "*"

[requires]
python_version = "3.9"
